[Desktop Entry]

Version=1.0
Name=Okcash 
Comment=Seamlessly secure, eco-friendly digital currency for instant global transactions.

Type=Application
Categories=Office;Finance;P2P;Network;Qt;

Exec=okcash
Icon=okcash-icon

Terminal=false
StartupNotify=true
