/node_modules
/out

.env
concatenated-output.ts
embedding-cache.json

.DS_Store

dist/

cookies.json

db.sqlite
searches/
tweets/

*.gguf
*.onnx
*.wav
*.mp3

characters/
logs/

test-report.json
content_cache/
test_data/