[Desktop Entry]
Encoding=UTF-8
Version=5.0.0.0
Name=Okcash Core Client
Comment=Okcash Graphical UI
Categories=Network;
Exec=/usr/local/bin/okcash
Icon=/usr/share/pixmaps/okcash.png
Terminal=false
Type=Application
