[Desktop Entry]

Version=1.0
Name=OK Daemon
Comment=Okcash core terminal

Type=Application
Categories=Network;

Exec=okcashd
Icon=okcashd

Terminal=true
StartupNotify=true