[Desktop Entry]

Version=7.0
Name=OK Wallet
Comment=Okcash Graphical UI

Type=Application
Categories=Network;

Exec=okcash
Icon=okcash

Terminal=false
StartupNotify=true