[Desktop Entry]

Version=1.0
Name=Okcash Core Client
Comment=Okcash Graphical UI

Type=Application
Categories=Network;

Exec=okcash
Icon=okcash

Terminal=false
StartupNotify=true